QVIDIAN_SHIM_PORT=3010
QVIDIAN_MCP_PORT=3020
QVIDIAN_BASE_URL=https://<tenant>.qvidian.com
QVIDIAN_API_KEY=<your_api_key>
QVIDIAN_LOGIN_URL=https://qpalogin.qvidian.com
QVIDIAN_SSO_EMAIL=<your_email>
